version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app/server
      - ./CleanedUp:/app/CleanedUp
      - ./Matrices:/app/Matrices
      - ./Metrics:/app/Metrics
      - /app/server/node_modules # Prevent host node_modules from overwriting container's
    working_dir: /app/server
    environment:
      - NODE_ENV=development
